.judul2 {
    color: black;
    font-family: "calibri";
    margin-left: 50px;
    font-size: 40px;
}

p {
    margin-left: 50px;
}

/*p.judul2{
    font-size: 15px;
    font-family: "times new roman";
}*/

div.kotak {
    display: block;
    background-color: rgb(9, 255, 0);
    width: 700px;
    height: 500px;
    border: 3px;
    border-color: black;
    border-style: dashed;
    border-radius: 20px;
}

h1 {
    color: white;
    font-size: 72px;
}

body {
    margin-left: 100px;
    background-color: skyblue;
    font-family: "arial";
    color: rgb(245, 245, 245);
}
